
#landing-body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef1f5;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container {
    width: 90%;
    max-width: 350px;
    background: white;
    padding: 25px 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#title {
    margin: 0;
    font-size: 32px;
    color: #333;
}
#subtitle {
    margin: 10px 0 25px;
    color: #404040;
    font-size: 18px;
}
#btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#SGPA-btn, 
#CGPA-btn {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
#SGPA-btn {
    background-color: #007bff;
   margin-right: 10px;
}
#CGPA-btn {
    background-color: #28a745;
}
#SGPA-btn:hover,
#CGPA-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

